@media only screen and (max-width: 991px) {
  .descktop-menu{
    display: none;
  }
  .mobile-menu{
    margin-top: 6px;
    cursor: pointer;
  }
}
@media only screen and (min-width: 992px){
  .descktop-menu{
    display: block;
  }
  .mobile-menu{
    display: none;
  }
}

.all-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
.main-content {
  flex: 1;
  position: relative;
}

.newsImageDiv{
  height: 350px;
  width: 300px;
  margin-right: 15px
}

.newsImage{
  height: 100%;
  width: 300px;
  background-size: cover;
  background-position: center;
}

.newsDesc{
  width: 600px;
  height: 500px;
  overflow-y:scroll;
}

.newsDesc p{
  text-align: justify
}

.avatar{
  height: 200px;
  width: 150px;
  background-position: center;
  background-size: cover;
}

.styleAboutUs h1, p {
  color: #777;
}
.footer-links {
  color: white;
}

.footer-links:hover {
  color: teal;
}
.newsImageDiv{
  height: 350px;
  width: 300px;
  margin-right: 15px
}

.newsImage{
  height: 100%;
  width: 300px;
  background-size: cover;
  background-position: center;
}

.newsDesc{
  width: 600px;
  height: 500px;
  overflow-y:scroll;
}

.newsDesc p{
text-align: justify
}

.avatar{
  height: 200px;
  width: 150px;
  background-position: center;
  background-size: cover;
}
.pagination-wrap{
  margin-top: 1rem;
  text-align: center;
}

.logged{
  font-size: 0.9rem;
  font-weight: 300;
}
.ui.header-nav.segment{
  border-radius: 0;
  border-right: 1px solid rgba(255,255,255,.08);
}
