.address-autocomplete, .email-address-width {
    margin-bottom: 10px;
}
.address-autocomplete, .address-autocomplete div, .address-autocomplete input{
    width: 100%;
}
div.ui.input.address-autocomplete div.ui.label{
    width: 80px;
}
.email-address-width div{
    width: 80px;
}